<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold d-flex align-items-center" href="/#page-top">
            Mini-Map Radar
            <img src="assets/img/logo.png" class="d-none d-sm-block" style="border-radius: 10px; width: 36px; margin-left: 10px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="/#features">Features</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="/privacy">Privacy Policy</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="/contest">Contest</a></li>
            </ul>
            <div class="btn-group" role="group" aria-label="Social media links">
                <!-- Twitter Button -->
                <a href="https://twitter.com/komalov_" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0 me-2" target="_blank">
                    <span class="d-flex align-items-center">
                        <i class="bi-twitter me-2"></i>
                        <span class="small">Twitter</span>
                    </span>
                </a>
                <!-- Telegram Button -->
                <a href="https://t.me/radar_app" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" target="_blank">
                    <span class="d-flex align-items-center">
                        <i class="bi-telegram me-2"></i>
                        <span class="small">Telegram</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
